/* .content{
    display: grid;
    grid-area: c;
    grid-gap: 25x;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "cover cover"
    "avatar info"
    "send send"
    "posts posts";
  } */
