.send{
    grid-area: send;
  }
  .send textarea{
    width: 100%;
    border: none;
    background-color: rgb(237, 237, 237);
    padding: 10px;
  }
  .send .wrap{
    display: flex;
    justify-content: flex-end;
  }
  .send button{
    color: white;
    margin: 20px 0;
    background-color: green;
  }
