.nav{
    grid-area: n;
    display: flex;
    flex-direction: column;
    background-color: rgb(195, 195, 197);
    padding-top: 20px;

  }
  .nav a{
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: .2s ease-in-out;
    list-style: none;
    color: white;
  }
  .nav a:last-child{
    margin-top: 30px;
  }
  .nav a:hover, .nav a.active{
    border-color: #fff;
    /* opacity: .7; */
  }
  